<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    body {
      Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
  </style>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body style="background-color: black; color: white;"></body>
  <nav>
    {% block top_of_page %}{% endblock %}
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/images/">Show all images</a></li>
      <li><a href="/past_searches/">Show searches</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 Mark Andrusiak</p>
  </footer>
</body>
</html>