{% extends 'base.html' %}

{% block title %}
  All Images
{% endblock %}

{% block top_of_page %}
  <h1>All Images</h1>
{% endblock %}

{% block content %}
  {% for img in images %}
    {% if img.content_type %}
      <img src="{{ img.image_data_uri }}" alt="{{ img.filename }}" title="{{ img.filename }}" width="50" height="50"><br>
      {{ img.filename }}<br>
    {% else %}
      <img src="{{ img.image.url }}" alt="BBB {{ img.filename }}">
    {% endif %}
  {% empty %}
    <p>No images found</p>
  {% endfor %}
{% endblock %}